<h1>Listing Products</h1>
<table>
<tr>
 <th>Product ID</th>
 <th>Description</th>
 <th>Name</th>
 <th>Image url</th>
 <thPrice></th>
 </tr>
 
 <% for product in products %>
  <tr>
    <td><%=h product.product_id %></td>
	<td><%=h product.product_name %></td>
	<td><%=h product.product_descript %></td>
	<td><%=h product.product_price %></td>
	<td><%=h product.image_url %></td>
	<td><%= link_to 'Show', product %></td>
	<td><%= link_to 'edit', product %></td>
	<td><%= link_to 'Destroy', product, :confirm => 'Are you sure?'%></td>
  </tr>
  <% end %>
  </table>